<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PiwikListName" value="Piwik Pro Site Directory"/>
    <add key="PiwikAdminSiteUrl" value="https://kogifidev3.sharepoint.com/"/>
    <add key="PiwikAdminTenantSiteUrl" value="https://kogifidev3-admin.sharepoint.com/"/>
    <add key="PiwikClientID" value="JFXCbR26q8wQn5GhqKHQqAQNYNNl0cRR"/>
    <add key="PiwikClientSecret" value="sAQmq4IXNa9HSnwra4k7Sjzxgi0Xe82AIOwrDdjXiop0ZO1zjSxA3Xjtj0sqJ3rEOIuiDeVLiyBVlNac"/>
    <add key="PiwikOldApiToken" value="ac665b274143d3c994c7426c621e8422"/>
    <add key="PiwikServiceUrl" value="kogifi.piwik.pro"/>
    <add key="PiwikAzureAppKey" value="5000d8d3-f22c-46ac-a7ba-98938c7a0fb4"/>
    <add key="PiwikAzureAppSecret" value="2C/4jwkseGIpqzr3ZzddUXq2PBHp7Jd6SC4gQLYU0fo="/>
    <add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=piwikstorage;AccountKey=l8F5qDKMTfxVKayurL8Arj+XW6BGUbQYaqrVytsp9oCAR3yJuE4WWgp9meuEjRXv64R+GRAQea//Wynuyd4fGg==;EndpointSuffix=core.windows.net"/>
    <add key="FUNCTIONS_WORKER_RUNTIME" value="dotnet"/>
    <add key="ContainerReference" value="piwikblob"/>
    <add key="BlobFileName" value="piwik-config.json"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
